@model OnlineShop.Models.Order

<section style="background-color: #eee;" class="d-flex flex-column align-items-center justify-content-center">
    @if (ViewBag.Message != null)
    {

        <h2 class="alert-success p-3 rounded-3 text-center mt-2">@ViewBag.Message</h2>
    }

    <div class="container py-5">
        <h2 class="text-center">Order summary</h2>
        <div class="row text-center mx-auto">
            @foreach (var product in ViewBag.Products)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <a asp-action="Show" asp-controller="Products" asp-route-id="@product.ProductId">
                        <div class="card product">
                            <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                                <img src="@product.Product.PhotoSrc" class="img-fluid w-100" style="object-fit:cover; max-height:200px" />
                            </div>

                            <div class="card-body">
                                <div href="" class="text-reset">
                                    <h5 class="card-title mb-3">@product.Product.Title</h5>
                                </div>
                                <h6 class="mb-3">
                                    <s>$@(product.Product.Price + 10)</s><strong class="ms-2 text-danger">$@product.Product.Price</strong>
                                </h6>
                                <div href="" class="text-reset">
                                    <h5 class="card-title mb-3">@product.Quantity</h5>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
            }

        </div>

        <h2 class="text-center">Order details</h2>

        <div class="row">
            <div class="col-6 offset-3">
                <form class="d-flex flex-column gap-3 overflow-auto" method="post" enctype="multipart/form-data" action="/Orders/New">

                    <div>
                        @Html.Label("FirstName", "First Name")

                        @Html.TextBox("FirstName", null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.Label("LastName", "Last Name")

                        @Html.TextBox("LastName", null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.Label("City", "City")

                        @Html.TextBox("City", null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.Label("Address", "Address")

                        @Html.TextBox("Address", null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.Label("Telephone", "Telephone")

                        @Html.TextBox("Telephone", null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Telephone, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        @Html.Label("Email", "Email")

                        @Html.TextBox("Email", null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Delivery" id="personal_pickup" value="personal pickup" checked>
                            <label class="form-check-label" for="personal_pickup">
                                Personal pickup
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Delivery" id="courier_delivery" value="courier delivery">
                            <label class="form-check-label" for="courier_delivery">
                                Courier delivery
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Payment" id="card_payment" value="card payment" checked>
                            <label class="form-check-label" for="card_payment">
                                Online card payment
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Payment" id="cash_on_delivery" value="cash on delivery">
                            <label class="form-check-label" for="cash_on_delivery">
                                Cash on delivery
                            </label>
                        </div>
                    </div>
                    <input type="hidden" name="TotalPrice" value="@ViewBag.Total" />

            
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Total: @ViewBag.Total</h5>
                            <p class="card-text">Delivery fee: $0.00</p>
                            <p class="card-text">Cost of Products: $@ViewBag.Total</p>
                        </div>
                    </div>


                    <button class="btn btn-outline" style="background-color:pink; color:black;" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>







