
<section style="background-color: #eee;" class="d-flex flex-column align-items-center justify-content-center">
    @if (TempData.ContainsKey("message"))
    {

        <h2 class="@TempData["messageType"] p-3 rounded-3 text-center mb-5">@TempData["Message"]</h2>
    }
    @if (ViewBag.Userid == ViewBag.UserCurent)
    {
        <h5 class="mt-4 mb-5">Total price: $@ViewBag.Total</h5>
        <h5 class="mt-4 mb-5">@ViewBag.UserName</h5>


        <div class="row text-center mx-auto">
            @foreach (var ordProduct in ViewBag.OrderedProducts)
            {
                <div class="col-lg-4 col-md-6 mb-4">

                    <div class="card product">
                        <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                            <img src="@ordProduct.PhotoSrc" class="img-fluid w-100" style="object-fit:cover; max-height:200px" />

                        </div>
                        <div class="card-body">
                            <a asp-action="Show" asp-controller="Products" asp-route-id="@ordProduct.ProductId">
                                <div href="" class="text-reset">
                                    <h5 class="card-title mb-3">@ordProduct.Title</h5>
                                </div>
                            </a>
                            <div href="" class="text-reset">
                                <p>@ordProduct.CategoryName</p>
                            </div>


                        </div>
                    </div>

                </div>
            }
        </div>
    }
    else
    {
        <h2 class="alert-danger p-3 rounded-3 text-center m-5">You are not allowed to see this order.</h2>
    }

</section>
