@model OnlineShop.Models.ApplicationUser



@using (Html.BeginForm(actionName: "Edit", controllerName: "Users",
       method: FormMethod.Post, routeValues: new { id = @Model.Id }))
{
    <div class="m-5" style="width:40%">
        <i class="bi bi-person"></i>
        @Html.Label("UserName", "Username", new { @class = "" })

        <br />

        @Html.EditorFor(m => m.UserName)

        <br />
        <br />
        <i class="bi bi-envelope"></i>
        @Html.Label("Email", "Email", new { @class = "" })

        <br />

        @Html.EditorFor(m => m.Email)

        <br />
        <br />

        <i class="bi bi-person"></i>
        @Html.Label("FirstName", "First Name", new { @class = "" })

        <br />

        @Html.EditorFor(m => m.FirstName)
        <br />
        <br />

        <i class="bi bi-person"></i>
        @Html.Label("LastName", "Last Name", new { @class = "" })

        <br />

        @Html.EditorFor(m => m.LastName)
        <br />
        <br />

        <div >
            <i class="bi bi-card-list"></i>
            <label>Select Role</label>
            @Html.DropDownList("newRole", new SelectList(Model.AllRoles, "Value", "Text", ViewBag.UserRole), null, new { @class = "form-control" })
        </div>
        <br />

        <br />
        <button class="btn btn-sm btn-success" type="submit">Edit</button>

    </div>




}

