@model OnlineShop.Models.Product

@if (TempData.ContainsKey("message"))
{

    <h2 class="@TempData["messageType"] p-3 rounded-3 text-center mb-5">@TempData["Message"]</h2>
}

<section class="d-flex gap-2">

    <div class="w-50 m-5">
        <div class="card product">
            <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                <img src="@Model.PhotoSrc" class="w-100" style="object-fit:cover; max-height:400px" />
                <div>

                    <div class="d-flex justify-content-between align-items-center h-100 g-3 px-1">
                        <h5>
                            <span class="badge bg-primary">New</span><span class="badge bg-success ms-2">Eco</span><span class="badge bg-danger ms-2">-10%</span>
                        </h5>
                        <div class="d-flex align-items-center justify-content-between">
                            @for (var i = 1; i <= Model.Rating; i++)
                            {
                                <svg class="rating-star" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path clip-rule="evenodd" fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"></path>
                                </svg>
                            }

                            @for (var i = Model.Rating; i < 5; i++)
                            {
                                <svg class="rating-star not-filled-star" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z"></path>
                                </svg>
                            }
                        </div>
                    </div>

                    <div class="hover-overlay">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div href="" class="text-reset">
                    <h5 class="card-title mb-3">@Model.Title</h5>
                </div>
                <div class="text-reset">
                    <p>@Model.Category.CategoryName</p>
                </div>
                <div>
                    <p>@Model.Description</p>
                </div>
                <h6 class="mb-3">
                    <s>$@(Model.Price + 10)</s><strong class="ms-2 text-danger">$@Model.Price</strong>
                </h6>
                <div>

                    <form method="post" action="/Carts/AddToCart">

                        <input type="hidden" name="ProductId" value="@Model.Id" />
                        <div class="d-flex flex-row justify-content-between">
                            @if(@Model.Stock > 0)
                            {
                                <div>
                                    <label for="Quantity">Quantity</label>
                                    <input type="number" id="Quantity" name="Quantity" value="1" min="1" max="@Model.Stock">
                                </div>

                                <button class="btn btn-outline-warning d-flex gap-1" type="submit"><i class="bi bi-cart"></i>Add to cart</button>
                            }
                            else
                            {
                                <h6 class="badge bg-danger">Unavailable</h6>
                            }
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>

    @* Afisare comentarii impreuna cu butoanele de editare si stergere *@
    <div class="w-50 m-5 d-flex flex-column justify-content-between">
        <div>
            @foreach (var comm in Model.Comments)
            {
                <div class="container">
                    <div class="row">

                        <div class="col-md-8">

                            <div class="border-1">
                                @if(comm.Rating != 0)
                                {
                                    <div class="d-flex align-items-center justify-content-between">
                                        @for (var i = 1; i <= comm.Rating; i++)
                                        {
                                            <svg class="rating-star" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                                <path clip-rule="evenodd" fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"></path>
                                            </svg>
                                        }

                                        @for (var i = comm.Rating; i < 5; i++)
                                        {
                                            <svg class="rating-star not-filled-star" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z"></path>
                                            </svg>
                                        }
                                    </div>
                                }

                                <p>@comm.Content</p>
                                <div class="d-flex justify-content-between">
                                    <small class=" text-muted">@comm.Date</small>
                                    <p class=" text-muted d-flex gap-2"><i class="bi bi-person "></i>@comm.User.UserName</p>
                                </div>

                            </div>
                            <br>

                            @if (comm.UserId == ViewBag.UserCurent || ViewBag.EsteAdmin)
                            {

                                <div class="d-flex justify-content-between">

                                    <div>

                                        <a class="btn btn-outline-primary" href="/Comments/Edit/@comm.Id"><i class="bi bi-pencil-square"></i>Edit</a>

                                    </div>

                                    <div>

                                        <form method="post" action="/Comments/Delete/@comm.Id">

                                            <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i>Delete</button>

                                        </form>

                                    </div>

                                </div>
                            }

                            <br />

                        </div>

                        <div class="col-md-2"></div>

                    </div>

                </div>
            }

        </div>
        
        @* Afisarea formularului in care se poate adauga un comentariu *@

        <div class="container w-100">

            <div class="row">

                <div class="col-md-8">

                    <div class="card">
                        @if (User.IsInRole("Admin") || User.IsInRole("Collaborator") || User.IsInRole("User")) {
                        <form method="post" action="/Products/Show">

                            <div class="card-body">

                                <input type="hidden" name="ProductId" value="@Model.Id" />

                                <label>Rate the product:</label>
                                <br />
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="Rating" id="1" value="1">
                                    <label class="form-check-label" for="1">1</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="Rating" id="2" value="2">
                                    <label class="form-check-label" for="2">2</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="Rating" id="3" value="3">
                                    <label class="form-check-label" for="3">3</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="Rating" id="4" value="4">
                                    <label class="form-check-label" for="4">4</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="Rating" id="5" value="5">
                                    <label class="form-check-label" for="5">5</label>
                                </div>
                                <br />

                                <label>Content</label>
                                <br />

                                <textarea class="form-control" name="Content"></textarea>
                                <br />

                                @Html.ValidationMessage("Content", null, new {@class = "text-danger"})

                                <button class="btn btn-success " type="submit">Adauga comentariul</button>

                            </div>

                        </form>
                        }
                    </div>

                </div>

                <div class="col-md-2"></div>

            </div>

        </div>
    </div>
</section>


